@import '../lib/animate.css'
@import '../lib/nib'

org = #fcb03c
deep-org = #ff9900
blu = #77bfdf
bro = #ba8879

body-width = 1080px

toggle-grey = #f4f4f4
border-grey = #e4e4e4
light-grey = #aaa
grey = #666
deep-grey = #333

extra-small = 12px
small = 13px
medium = 14px
large = 16px

*
	margin 0
	padding 0
	// transition .25s
	&:focus
		outline none

body, p
	font-family "Helvetica", "微软雅黑", "Microsoft Yahei", "黑体", "Arial", "Hei", sans-serif
	color grey
	font-size small

p
	margin-top 10px
	&:first-child
		margin-top 0px
h1
	font-size 26px
	color deep-grey
	line-height 44px
	margin-top -4px
h2
	font-size 20px
	color deep-grey
	line-height 40px
h3
	font-size large
	color deep-grey
	line-height 36px

a
	color deep-grey
	font-size small
	font-weight	bold
	text-decoration none
	transition .25s
a:hover
	color org

ul, li
	margin 0
	padding 0
	list-style none

button
	width 120px
	font-size medium
	color #fff
	transition .25s
	line-height 20px
	padding 5px 8px 5px 8px
	font-weight bold
	border 1px solid blu
	border-radius 5px
	background-color blu
	float left
	&:hover
		border-color org
		background-color org
		cursor pointer

.clear
	clear both
.current
	color org
.current-button
	color org
.inline
	display	inline
	margin-right 10px
	float left
.block
	display block
.overflow-scroll
	overflow scroll
.border-right
	border-width 0 4px 0 0
	border-style solid
	border-color org
.hr
	height 1px
	background-color border-grey
	margin 5px 0 20px 0
	clear both
.hidden
	display none
.button
	width 140px
	height 34px
	font-size medium
	color #fff
	line-height 20px
	margin 20px 10px 0 0
	padding 5px
	border 1px solid blu
	border-radius 5px
	background-color blu
	float left
	&:hover
		border-color org
		background-color org

#body-container
	width body-width
	min-height 460px
	margin-top 120px
	margin-left auto
	margin-right auto

#sidebar
	position fixed
	top 165px
	margin-right 20px
	float left
	ul#side-menu
		width 100px
		& > li
			font-size extra-small
			color light-grey
			margin-bottom 20px
			text-align center
			font-weight bold
			ul.side-menu-button
				& > li
					margin-top 5px
					& > a
						font-size small
	#popup-user-list-custom
		position fixed
		top 325px
		margin-left 100px
		.tri-pointer
			width 4px
			height 7px
			float left
			margin-left -4px
			margin-top 6px
		& li
			width 70px
			border-style solid
			border-color #000
			border-width 0
			padding 8px 8px 0 8px
			text-align center
			background-color deep-grey
			&:first-child
				border-top-left-radius 4px
				border-top-right-radius 4px
				padding-top 8px
			&:last-child
				border-bottom-left-radius 4px
				border-bottom-right-radius 4px
				padding-bottom 11px
			& > a
				color #fff
				font-size 12px
				&.current
					color org
				&:hover
					color org

.main-content-full
	width body-width
	margin 160px auto 140px auto
	.column-3-2
		width 740px
		float left
	.column-3-1
		width 290px
		float left
	.column-span
		margin-right 50px
.main-content
	width 920px
	margin 10px 0 100px 160px
	float left
	.column-1-1
		width 920px
		float left
	.column-2-1
		width 435px
		float left
	.column-3-2
		width 580px
		float left
	.column-3-1
		width 290px
		float left
	.column-span
		margin-right 50px

.main-content-full
	.club-list-box li
		margin 20px 17px 20px 17px
		display inline
		float left
		&:hover
			.club-avatar-large
				border-color org
			.club-list-name a
				color org
	.activity-list-box li
		margin 2px 2px 2px 2px
		display inline
		float left
		&:hover
			.activity-list-name
				color org
				background-color rgba(255,255,255,1)
			.activity-avatar-cover
				background-color rgba(0,0,0,.05)
	#activity-detail-tab
	#activity-library-tab
		margin-top 30px
	.activity-detail > h2
		margin-top 20px
		&:first-child
			margin-top 0px
	.activity-detail-box
		& li
			margin-bottom 10px
			display inline
			float left
			&:last-child
				margin-bottom 0
		& .detail-list
			float left
	.tiny-tab-bar
		margin-left 10px
		float right
		& > a
			position relative
			top 2px
			padding 8px 10px 10px 10px
			height 20px
			border 1px solid transparent
			font-size large
			color blu
			opacity .5
			float left
			&:first-child
				left 1px
			&:hover
				color org
				opacity 1
			&.current
				border-top-color border-grey
				border-left-color border-grey
				border-right-color border-grey
				border-top-left-radius 4px
				border-top-right-radius 4px
				background-color #fff
				color org
				opacity 1
	.library-list li
			margin 2px 2px 2px 2px
			width 142px
			height 92px
			border 1px solid border-grey
			display inline
			float left
			transition .25s
			overflow hidden
			&:hover
				border-color org
				cursor pointer
			img
				width 142px
	.activity-library-upload-box
		width 288px
		height 190px
		border 1px solid border-grey
		color border-grey
		text-align center
		line-height 190px
		transition .25s
		&:hover
			border-color org
	.box-content
		.club-avatar-large
			width 154px
			height 154px
			border 1px solid border-grey
			border-radius 100%
			transition .25s
			margin 0 13px 0 13px
			overflow hidden
			& > img
				width 154px
				height 154px
		.club-list-name
			width 182px
			height 13px
			line-height 13px
			text-align center
			margin 20px 0 0px 0
		.activity-avatar-large
			width 266px
			height 195px
			overflow hidden
			& > img
				height 195px
				width 266px
				float left
				z-index -1000
		.activity-list-name
			width 246px
			height 40px
			margin-top -40px
			padding 0 10px 0 10px
			font-size medium
			line-height 40px
			text-align center
			color deep-grey
			background-color rgba(255,255,255,.8)
			transition .25s
			float left
			z-index 1000
		.detail-list-name
			width 60px
			height 30px
			line-height 30px
			margin 0 10px 0 0
			color deep-grey
			font-weight bold
			float left
		.detail-list-content
			width 200px
			height 30px
			line-height 30px
			margin 0 10px 0 0
			float left
		.detail-list-content-full
			width 670px
			margin 6px 0 0 0
			overflow scroll
			float left
		.comment-list
		#new-comment
			.hr
				margin 20px 0 20px 0
			li:last-child
				.hr
					margin-bottom 10px
			.user-avatar
				margin-top 0px
			.comment-detail
				width 648px
				padding-top 5px
				float left
				.comment-author
					margin 0 10px 0 0
					float left
				.comment-time
					margin 0 10px 0 0
					color light-grey
					float left
				.reply-button a
					font-size 12px
					color blu
					float left
				.comment-content
					margin 10px 0 0 0
					width 648px
					height 34px
				textarea
					margin 5px 0 0 0
					width 630px
					height 34px
				button
					margin 10px 0 0 0
					float right

.main-content
	.user-club-list-box
	.user-activity-list-box
	.admin-user-list-box
	.admin-activity-list-box
		& li:hover
			.club-avatar
			.activity-avatar
			.user-avatar
				border-color org
	.user-edit-info-box
	.admin-edit-info-box
	.admin-create-activity-box
	.activity-submit-box
		& button#submit
			width 180px
			margin 40px 0 0 0px
		& button#cancel
		& button#preview
			width 60px
			margin 40px 0 0 10px
			background-color light-grey
			border-color light-grey

.main-content
.main-content-full
	h2
		span
			position relative
			top -1px
			margin 0 0 0 10px
			font-size large
			line-height large
	.tiny-menu-bar
		float right
		& > a
			float left
			color blu
			font-size extra-small
			margin-left 10px
			margin-top 15px
			&:first-child
				margin-left 5px
	.tiny-description-bar
		color light-grey
		margin-right 10px
		margin-top 14px
		margin-left 5px
		float left
	.message-card
		color light-grey
		margin-top 10px
		&:first-child
			padding-top 10px
	.description-card
		color light-grey
		margin-top 10px
		padding-top 10px
	#user-avatar-large
	#club-avatar-large
		height 288px
	#activity-avatar-poster
	#user-avatar-large
	#club-avatar-large
		width 288px
		border 1px solid border-grey
		margin 5px 0 0 0
		padding-bottom -3px
		transition .25s
		overflow hidden
		& > img
			width 288px
		&:hover
			border-color org
			cursor pointer
	ul.club-cover-list li
		width 288px
		height 48px
		border 1px solid border-grey
		margin 5px 0 0 0
		transition .25s
		overflow hidden
		& > img
			&.club-cover-img1
			&.club-cover-img2
			&.club-cover-img3
			&.club-cover-img4
			&.club-cover-img5
			&.club-cover-img6
				width 288px
		&:hover
			border-color org
			cursor pointer
	ul.activity-qr-list li
		width 88px
		height 88px
		border 1px solid border-grey
		margin 5px 0 0 10px
		transition .25s
		overflow hidden
		float left
		&:first-child
			margin 5px 0 0 0
		& > img
			&.activity-qr-ad
			&.activity-qr-apply
			&.activity-qr-checkin
				width 88px
		&:hover
			border-color org
			cursor pointer
	.upload-info
	.activity-change-avatar-info
		margin -5px 0 0 0
		color light-grey
		float left
	#library-upload
	#club-change-avatar
	#club-change-cover
	#activity-change-avatar
	#get-qr-ad
	#get-qr-apply
	#get-qr-checkin
		margin -5px 0 0 10px
		color blu
		font-weight bold
		float left
		&:hover
			cursor pointer
	#get-qr-ad
	#get-qr-apply
	#get-qr-checkin
		margin 10px 0 0 10px
		width 90px
		// font-size extra-small
		// text-align center
		&:first-child
			margin 10px 0 0 0
	.activity-apply-info
		margin 10px 0 0 0
		color light-grey
		float left
	button#apply-activity
		margin 3px 0 0 10px
		float right
	.box-content
		margin 20px 0 10px 0
		.club-avatar,
		.activity-avatar
		.user-avatar
			width 70px
			height 70px
			border 1px solid border-grey
			border-radius 100%
			transition .25s
			margin 10px 20px 0 0
			overflow hidden
			float left
			& > img
				width 70px
				height 70px
		.info-name
			width 60px
			height 30px
			line-height 30px
			margin 20px 10px 0 0
			color deep-grey
			font-weight bold
			float left
		.radio-name
			width 60px
			height 30px
			line-height 30px
			margin 20px 10px 0 0
			color grey
			font-weight bold
			float left
		.info-tips
			width 260px
			height 30px
			line-height 30px
			font-size extra-small
			color bro
			margin 20px 10px 0 0
			float left
		.info-check-red
			border-color #ee0000
		.info-check-green
			border-color #00bb00
	.plain-button
		height 30px
		font-size extra-small
		color blu
		line-height 30px
		margin 20px 10px 0 0
		float left
		&:hover
			cursor pointer
	input
		height 20px
		line-height 20px
		color grey
		margin 20px 20px 0 0
		padding 5px 8px 5px 8px
		border 1px solid border-grey
		border-radius 4px
		font-size small
		float left
		transition .25s
		&:focus
			border-color light-grey
		&[type="radio"]
			width extra-small
			margin: 25px 10px 0 0
		&[type="checkbox"]
			margin: 25px 10px 0 0
	button
		font-size medium
		color #fff
		transition .25s
		line-height 20px
		margin 10px 10px 0 0
		padding 5px 8px 5px 8px
		border 1px solid blu
		border-radius 5px
		background-color blu
		float left
		&:hover
			border-color org
			background-color org
			cursor pointer
	select
		margin 26px 20px 0 0
		float left
	textarea
		width 490px
		height 120px
		color grey
		margin 20px 0 0 0
		padding 9px 8px 9px 8px
		border 1px solid border-grey
		border-radius 4px
		font-size small
		float left
		&:focus
			border-color light-grey
	.short
		width 80px
	.normal
		width 162px
	.long
		width 490px
		margin-right 0px
	table
		min-width 100%
		margin-top 10px
		border-collapse separate
		border-spacing 0
		overflow scoll
		thead
			tr:first-child
				th:first-child
					border-top-left-radius 4px
				th:last-child
					border-top-right-radius 4px
					border-right-width 1px
		tbody
			tr
				transition .25s
				&:hover
					background-color toggle-grey
				&.font-color-grey
					color light-grey
					td > a
						color light-grey
				td:last-child
					border-right-width 1px
			tr:last-child
				td
					border-bottom-width 1px
				td:first-child
					border-bottom-left-radius 4px
				td:last-child
					border-bottom-right-radius 4px
		td
			text-align center
			&.align-left
				text-align left
		th
			// color org
			background-color #f9f9f9
			font-weight bold
		th, td
			height 20px
			line-height 20px
			border-style solid
			border-color border-grey
			border-width 1px 0 0 1px
			padding 8px
			&.w30
				min-width 28px
				width 28px
			&.w60
				min-width 60px
				width 60px
			&.w100
				min-width 100px
				width 100px
			&.w140
				min-width 140px
				width 140px
			&.w220
				min-width 220px
				width 220px
			&.m200
				min-width 220px
			input[type="checkbox"]
				margin 0 8px 0 8px
			a
				color blu
				font-size extra-small
				margin-right 10px
				&:last-child
					margin-right 0px
	.batch-menu-bar
		margin-top 5px
		float left
		& > a
			color blu
			font-size extra-small
			margin-right 10px
			float left
			&:first-child
				margin-left 0px
	.page-bar
		margin-top 5px
		float right
		& > a
			color blu
			font-size extra-small
			margin-left 10px
			float left
		& > span
			color light-grey
			font-size extra-small
			margin-left 10px
			float left

.user-selector-box
	margin 10px 0 0 0
	// height 489px
	height 400px
	border-style solid
	border-color border-grey
	float left
	overflow scroll
	&:first-child
		width 103px
		border-width 1px 0 1px 1px
		border-top-left-radius 4px
		border-bottom-left-radius 4px
	&:last-child
		width 183px
		border-width 1px 1px 1px 1px
		border-top-right-radius 4px
		border-bottom-right-radius 4px
	ul#user-group-selector > li
		width 83px
	ul#user-list-selector > li
		width 163px
	ul#user-group-selector > li
	ul#user-list-selector > li
		border-style solid
		border-color border-grey
		border-width 0 0 1px 0
		font-size extra-small
		line-height 20px
		padding 10px
		&:hover
			cursor pointer
			background-color toggle-grey
		&.current
			background-color toggle-grey
		& > input[type="checkbox"]
			width small
			margin 0
		& > span
			margin 0 0 0 5px

#club-cover
	position fixed
	top 0
	left 0
	z-index -9999
.cover-width
	width 100%
.cover-height
	height 100%

#main-content-club-info
#club-cover-info
	float left
	.club-cover-title
		padding 10px
		background-color rgba(0,0,0,.4)
		color #fff
		text-shadow rgba(51,51,51,1) 0px 0px 6px
		font-size large
		font-weight bold
		float left
	.club-cover-description
		max-width 276px
		margin 4px 0 0 0
		padding 10px
		background-color rgba(0,0,0,.4)
		color #fff
		text-shadow rgba(51,51,51,1) 0px 0px 6px
		font-size extra-small
// #club-cover-info
// 	.club-cover-info-box
// 		max-width 252px
// 		padding 10px
// 		color #fff
// 		background-color rgba(0,0,0,.4)
// 		float left
// 		.club-cover-title
// 			font-size large
// 		.club-cover-description
// 			margin-top 4px
// 			font-size extra-small
#club-info
	.club-info-box
		width body-width
		position fixed
		bottom 28px
		#club-avatar-square
			width 160px
			height 160px
			overflow hidden
			float left
			& > img
				width 160px
				height 160px
		#club-info-detail
			width 672px
			height 160px
			float left
			background-color rgba(0,0,0,.6)
			box-shadow 0 1px 3px 0 rgba(51,51,51,.2)
			transition .25s
			.club-name
				color org
				margin 10px 20px 0 20px
				text-shadow rgba(0,0,0,.8) 0px 0px 8px
				float left
			#apply
				margin 16px 20px 0 0
				background-color rgba(0,0,0,.4)
				border-color org
				color org
				text-shadow rgba(51,51,51,1) 0px 0px 4px
				float right
				&:hover
					background-color org
					color deep-grey
					text-shadow rgba(51,51,51,0) 0px 0px 4px
			.club-introduction
				height 82px
				margin 5px 20px 0 20px
				overflow scroll
				p
					font-size extra-small
					color #fff
					text-shadow rgba(51,51,51,1) 0px 0px 6px
					transition .25s
		#club-cover-album
			width 240px
			height 160px
			float left
			.club-cover-img1
			.club-cover-img2
			.club-cover-img3
			.club-cover-img4
			.club-cover-img5
			.club-cover-img6
				width 80px
				height 80px
				background-color #000
				float left
				overflow hidden
				&.current
					img
						opacity 1
			img
				width 80px
				height 80px
				opacity .6
				transition .25s
				&:hover
					cursor pointer
					opacity 1

#top-line
	width 100%
	height 5px
	background-color deep-grey
	position fixed
	top 0
	z-index 10001
header
	width 100%
	height 80px
	overflow visible
	position fixed
	top 0
	z-index 10000
	#top-bar
		background-color rgba(255,255,255,.85)
		box-shadow 0 1px 3px 0 rgba(51,51,51,.15)
		&.top-bar-club
			text-shadow rgba(51,51,51,1) 0px 0px 6px
			background-color rgba(0,0,0,.45)
			box-shadow 0 1px 3px 0 rgba(51,51,51,.3)
			transition .25s
		#top-bar-content-container
			width body-width
			height 80px
			margin-left auto
			margin-right auto
			#top-logo
				float left
			#top-logo-text
				margin 10px 0px 10px 20px
				line-height 60px
				font-size 26px
				float left
				color org
			#top-admin-name
				& > a
					margin 10px 0px 10px 20px
					padding-top 2px
					line-height 60px
					font-size 20px
					float left
					color deep-grey
				#change-admin > a
					margin-top 38px
					float left
					font-size extra-small
					margin-left 6px
			ul#top-nav
				& > li
					margin-left 20px
					padding-top 5px
					display inline-block
					float left
					& > a
						font-size 14px
						line-height 80px
				&.top-nav-club a
					color #fff
					&:hover
						color org
					&.current
						color org
			#top-user-menu
				width 80px
				padding-top 5px
				font-size medium
				float right
				#username
					line-height 80px
					float right
					font-size 14px
					color org
					font-weight bold
					cursor pointer
				ul#popup-user-menu
					& > li
						margin-right 10px
						display inline-block
						float right
						&:first-child
							margin-right 20px
						& > a
							font-size small
							line-height 80px
				&.top-user-menu-club a
					color #fff
					&:hover
						color org

#welcome-page
	#photo-wall
		position relative
		top 0px
		height 500px
		overflow hidden
		.photo-wall-list
			width 1600px
			& li
				width 320px
				height 200px
				float left
				overflow hidden
				&.logo-box
					background-color #fff
				img.photo-wall-pic1
				img.photo-wall-pic2
				img.photo-wall-pic3
				img.photo-wall-pic4
				img.photo-wall-pic5
				img.photo-wall-pic6
				img.photo-wall-pic7
				img.photo-wall-pic8
				img.photo-wall-pic9
				img.photo-wall-pic10
				img.photo-wall-pic11
				img.photo-wall-pic12
				img.photo-wall-pic13
				img.photo-wall-pic14
					width 320px
					height 200px
				img.logo
					margin 20px 100px 0 100px
					width 120px
					height 120px
				.logo-text
					position relative
					left 12px
					width 100%
					margin 10px 0 0 0
					font-size 20px
					color deep-grey
					font-weight bold
					text-align center
					span
						position relative
						top -12px
						margin 0 0 0 5px
						font-size 10px
						color org
	.main-content-full
		margin 80px auto 140px auto
		width body-width
		.slogan-box
			text-align center
			h1
				font-size 32px
			h2, h3
				color grey
				span
					color org
		.login-box
			width 592px
			margin 0 auto 0 auto
			.box-content li
				input
					border-radius 4px
				#login
					position relative
					margin 21px 0 0 10px
					float left
					opacity .75
					transition .25s
					&:hover
						left 5px
						opacity 1
				#forget-password
					margin 20px 0 0 20px
					text-decoration underline
					font-size extra-small
					color blu
					line-height 32px
					float left
					opacity .75
					&:hover
						color blu
						cursor pointer
		.signup-box
			width 200px
			margin 0px auto 0 auto
			button#signup
				margin 20px 0 0 0
				width 200px
				line-height 30px
				font-size 20px
				background-color org
				border-color org
		#toggle-signup-box
			width 672px
			margin 20px auto 0 auto
			.tri-pointer-grey
				margin 0 332px 0 332px
				height 14px
			#toggle-signup-box-content
				width 592px
				padding 40px
				border-radius 4px
				background-color toggle-grey
		#toggle-forget-password-box
			width 672px
			margin 10px auto 0 auto
			.tri-pointer-grey
				margin 0 0 0 600px
				height 14px
			#toggle-forget-password-box-content
				width 592px
				padding 40px
				border-radius 4px
				background-color toggle-grey
				.description-card
					margin-top 0px
				button#find-password
					width 200px
					margin 40px 0 0 196px
					float left
		.toggle-box-content
			h2
				margin -5px 0 0 0
				span
					margin 0 0 0 10px
					font-size large
					line-height large
			.box-content
				&:first-child
					margin 0
				.info-name
					width 60px
					height 30px
					line-height 30px
					margin 20px 10px 0 0
					color deep-grey
					font-weight bold
					float left
				.info-check
				.info-tips
					width 260px
					height 30px
					line-height 30px
					font-size extra-small
					color bro
					margin 20px 10px 0 0
					float left
				.info-check-red
					border-color #ee0000
				.info-check-green
					border-color #00bb00
				.validator-short
					width 62px
				button#phone-validate
					margin 20px 0 0 0
			button#next-to-2
				width 200px
				margin 40px 0 0 196px
			button#back-to-2
				width 200px
				margin 40px 0 0 84px
				background-color light-grey
				border-color light-grey
				float left
			button#back-to-1
				width 200px
				margin 40px 0 0 84px
				background-color light-grey
				border-color light-grey
				float left
			button#next-to-3
			button#submit
				width 200px
				margin 40px 0 0 20px
				float left

footer
	#foot-bar
		width 100%
		height 200px
		background-color deep-grey
		margin-top 60px
		#foot-bar-content-container
			width body-width
			margin-left auto
			margin-right auto
			.footer-decro
				float right
				& > img
					position relative
					top -40px
			.foot-bar-info
				width 140px
				margin-right 20px
				float left
				.foot-bar-title
					font-size medium
					color org
					font-weight bold
				li.foot-bar-content
					margin-top 5px
					& > a
						color rgba(255,255,255,.4)
						&:hover
							color #fff
				&:last-child
					width 300px
					float right
					.foot-bar-title
						font-size medium
						color org
						font-weight bold
					li.foot-bar-content
						margin-top 10px
						& > p
							color rgba(255,255,255,.4)
							& > a:hover
								color #fff
