@import '../lib/animate.css'
@import '../lib/nib'

org = #fcb03c
deep-org = #ff9900
blu = #77bfdf
bro = #ba8879

body-width = 1080px

border-grey = #eaeaea
light-grey = #cacaca
grey = #666
deep-grey = #333

extra-small = 12px
small = 13px
medium = 14px
large = 16px

*
	margin 0
	padding 0

body, p
	font-family "微软雅黑", "Microsoft Yahei", "黑体", "Arial", "Hei", sans-serif
	color grey
	font-size small

p
	margin-top 10px
h1
	font-size 26px
	color deep-grey
	line-height 44px
	margin-top -4px
h2
	font-size 20px
	color deep-grey
	line-height 40px
h3
	font-size 17px
	color deep-grey
	line-height 36px

// body
// 	background-color #000

a
	color deep-grey
	font-size small
	text-decoration none
	transition 0.25s
a:hover
	color org

ul, li
	margin 0
	padding 0
	list-style none	

.clear
	clear both
.current
	color org
.inline
	display	inline
	margin-right 10px
	float left
.block
	display block
.overflow-scroll
	overflow scroll
.border-right
	border-width 0 4px 0 0
	border-style solid
	border-color org
.hr
	height 1px
	background-color border-grey
	margin 5px 0 20px 0
	clear both
.hidden
	display none
.button
	width 140px
	height 34px
	font-size medium
	color #fff
	line-height 20px
	margin 20px 10px 0 0
	padding 5px
	border 1px solid blu
	border-radius 5px
	background-color blu
	float left
	&:hover
		border-color org
		background-color org

#body-container
	width body-width
	min-height 460px
	margin-top 120px
	margin-left auto
	margin-right auto

.main-content-full
	width body-width
	margin 160px auto 120px auto
#sidebar
	position fixed
	top 170px
	width 100px
	margin-right 20px
	float left
	ul#side-menu
		& > li
			font-size small
			color light-grey
			margin-bottom 20px
			text-align center
			ul.side-menu-button
				& > li
					margin-top 5px
					& > a
						font-size medium
.main-content
	width 920px
	margin 10px 0 100px 160px
	float left
	.column-1-1
		width 920px
		float left
	.column-2-1
		width 435px
		float left
	.column-3-2
		width 580px
		float left
	.column-3-1
		width 290px
		float left
	.column-span
		margin-right 50px

.main-content-full
	.club-list-box li
		margin 10px 20px 10px 20px
		display inline
		float left
	.club-avatar-large
		width 154px
		height 154px
		border 1px solid border-grey
		border-radius 100%
		margin 0 10px 0 10px
		overflow hidden
		& > img
			width 154px
			height 154px
	.club-list-name
		width 176px
		height 13px
		line-height 13px
		text-align center
		margin 20px 0 20px 0

.main-content
.main-content-full
	.tiny-menu-bar
		& > a
			float left
			color blu
			font-size extra-small
			margin-right 10px
			margin-top 15px
	.tiny-description-bar
		color light-grey
		margin-right 10px
		margin-top 14px
		float left
	.message-card
		color light-grey
		margin-top 10px
		&:first-child
			padding-top 10px
	.description-card
		color light-grey
		margin-top 10px
		padding-top 10px
	.box-content
		margin 10px 0 20px 0
		.club-avatar,
		.activity-avatar
			width 70px
			height 70px
			border 1px solid border-grey
			border-radius 100%
			margin 10px 20px 0 0
			overflow hidden
			float left
		.info-name
			width 60px
			height 30px
			line-height 30px
			margin 20px 10px 0 0
			float left
		.info-tips
			width 260px
			height 30px
			line-height 30px
			font-size extra-small
			color bro
			margin 20px 10px 0 0
			float left
		.info-check-red
			border-color #ee0000
		.info-check-green
			border-color #00bb00
		#user-avatar-large
			width 200px
			height 200px
			border 1px solid border-grey
			margin 10px 20px 0 0px
	.plain-button
		height 30px
		font-size extra-small
		color blu
		line-height 30px
		margin 20px 10px 0 0
		float left
	input
		height 20px
		line-height 20px
		color grey
		margin 20px 20px 0 0
		padding 5px
		border 1px solid border-grey
		float left
		&[type="radio"]
			width extra-small
			margin: 25px 10px 0 0
		&[type="checkbox"]
			margin: 25px 10px 0 0
		&[type="button"]
			width 140px
			height 34px
			font-size medium
			color #fff
			transition 0.25s
			line-height 20px
			margin 20px 10px 0 0
			padding 5px
			border 1px solid blu
			border-radius 5px
			background-color blu
			float left
			&:hover
				border-color org
				background-color org
				cursor pointer
	select
		margin 26px 20px 0 0
		float left
	.short
		width 80px
	.normal
		width 168px
	.long
		width 450px
	table
		min-width 100%
		margin-top 10px
		border-collapse separate
		border-spacing 0
		overflow scoll
		thead
			tr:first-child
				th:first-child
					border-top-left-radius 4px
				th:last-child
					border-top-right-radius 4px
					border-right-width 1px
		tbody
			tr
				transition 0.25s
				&:hover
					background-color #f9f9f9
				&.font-color-grey
					color light-grey
				td:last-child
					border-right-width 1px
			tr:last-child
				td
					border-bottom-width 1px
				td:first-child
					border-bottom-left-radius 4px
				td:last-child
					border-bottom-right-radius 4px
		td
			text-align center
			&.align-left
				text-align left
		th
			// color org
			background-color #f9f9f9
		th, td
			height 20px
			line-height 20px
			border-style solid
			border-color border-grey
			border-width 1px 0 0 1px
			padding 8px
			&.w30
				min-width 28px
				width 28px
			&.w60
				min-width 60px
				width 60px
			&.w140
				min-width 140px
				width 140px
			&.w220
				min-width 220px
				width 220px
			&.m220
				min-width 220px
			input[type="checkbox"]
				margin 0 8px 0 8px
			a
				color blu
				font-size extra-small
				margin-right 10px
				&:last-child
					margin-right 0px
	.batch-menu-bar
		float left
		& > a
			color blu
			font-size extra-small
			margin-right 10px
			float left
			&:first-child
				margin-left 0px
	.page-bar
		float right
		& > a
			color blu
			font-size extra-small
			margin-left 10px
			float left
		& > span
			color light-grey
			font-size extra-small
			margin-left 10px
			float left

header
	width 100%
	height 80px
	overflow visible
	position fixed
	top 0
	z-index 9
	#top-line
		width 100%
		height 5px
		background-color #000
		position fixed
		top 0
	#top-bar
		background-color rgba(255,255,255,0.85)
		box-shadow 0 1px 3px 0 rgba(51,51,51,0.15)
		#top-bar-content-container
			width body-width
			height 80px
			margin-left auto
			margin-right auto
			#top-logo
				float left
			#top-logo-text
				margin 10px 20px 10px 20px
				line-height 60px
				font-size 26px
				float left
				color #fcb03c
			ul#top-nav
				& > li
					margin-left 20px
					padding-top 5px
					display inline-block
					float left
					& > a
						font-size 14px
						line-height 80px
			#top-user-menu
				width 80px
				padding-top 5px
				font-size medium
				float right
				#username
					line-height 80px
					float right
					& > a
						font-size 14px
						color org
				ul#popup-user-menu
					& > li
						margin-right 20px
						display inline-block
						float right
						& > a
							font-size small
							line-height 80px

footer
	#foot-bar
		width 100%
		height 200px
		background-color deep-grey
		margin-top 60px
		#foot-bar-content-container
			width body-width
			margin-left auto
			margin-right auto
			.footer-decro
				float right
				& > img
					position relative
					top -40px
			.foot-bar-info
				width 140px
				margin-right 20px
				float left
				.foot-bar-title
					font-size medium
					color org
				li.foot-bar-content
					margin-top 5px
					& > a
						color rgba(255,255,255,0.4)
						&:hover
							color #fff
			.foot-bar-info-right
				width 300px
				float right
				.foot-bar-title
					font-size medium
					color org
				li.foot-bar-content
					margin-top -5px
					& > p
						color rgba(255,255,255,0.4)
						& > a:hover
							color #fff
