footer
	#foot-bar.animated.fadeInUp
		#foot-bar-content-container
			.footer-decro-welcome
				img(src="../img/footer-decro.png")
			.clear
			.foot-bar-info
				.foot-bar-title 关于
				ul
					li.foot-bar-content
						a(href="../about-us.html") 关于我们
					li.foot-bar-content
						a(href="../recruit.html") 招纳贤才
								.foot-bar-info
			.foot-bar-info
				.foot-bar-title 社团
				ul
					li.foot-bar-content
						a(href="../club/club-list.html") 已有社团
								.foot-bar-info
			.foot-bar-info
				.foot-bar-title 活动
				ul
					li.foot-bar-content
						a(href="../activity/activity-list.html") 已有活动
								.foot-bar-info
			.foot-bar-info
				.foot-bar-title 合作
				ul
					li.foot-bar-content
						a(href="../contact.html") 联系我们
			.foot-bar-info
				.foot-bar-title 版权信息
				ul
					li.foot-bar-content
						p 本网站会员及进驻社团所发布展示的所有内容版权均归原作者所有。任何商业用途均需联系原作者。
						p Copyright (c) 2012-2014 社团管理平台.<br/>All rights reserved.
