doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]

	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

		title 社团管理平台 | 为学生和社团提供一站式服务

		meta(name='description', content='')
		meta(name='viewport', content='width=device-width')

		link(rel='stylesheet', href='../css/layout.css')
		link(rel='stylesheet', href='../lib/animate.min.css')
		script(src="../lib/jquery-1.10.2.min.js")
		script(src='../script/layout.js')

	body
		//if lt IE 7
			p.chromeframe.
			You are using an outdated browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> or
			<a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
			to improve your experience.
 
		#welcome-page
			#photo-wall.animated.fadeInDown
				ul.photo-wall-list
					li
						img.photo-wall-pic1(src="../img/club-id001/club-id001-cover1.jpg")
					li
						img.photo-wall-pic2(src="../img/club-id001/club-id001-cover3.jpg")
					li
						img.photo-wall-pic3(src="../img/club-id001/club-id001-cover4.jpg")
					li
						img.photo-wall-pic4(src="../img/club-id001/club-id001-cover2.jpg")
					li
						img.photo-wall-pic5(src="../img/club-id001/club-id001-cover5.jpg")
				ul.photo-wall-list
					li
						img.photo-wall-pic6(src="../img/club-id001/club-id001-cover6.jpg")
					li
						img.photo-wall-pic7(src="../img/club-id001/club-id001-cover5.jpg")
					li.logo-box
						img.logo(src="../img/logo.png")
						.logo-text
							| 社团管理平台
							span @PKU
					li
						img.photo-wall-pic8(src="../img/club-id001/club-id001-cover1.jpg")
					li
						img.photo-wall-pic9(src="../img/club-id001/club-id001-cover3.jpg")
				ul.photo-wall-list
					li
						img.photo-wall-pic10(src="../img/club-id001/club-id001-cover4.jpg")
					li
						img.photo-wall-pic11(src="../img/club-id001/club-id001-cover2.jpg")
					li
						img.photo-wall-pic12(src="../img/club-id001/club-id001-cover6.jpg")
					li
						img.photo-wall-pic13(src="../img/club-id001/club-id001-cover4.jpg")
					li
						img.photo-wall-pic14(src="../img/club-id001/club-id001-cover2.jpg")
				.clear
			.main-content-full.animated.fadeInUp
				.slogan-box
					h1 享受信息化的社团生活
					h2
						| 为学生和社团提供
						span 一站式
						| 服务
				.login-box
					ul.box-content
						li
							input(type="text", placeholder="手机号码").normal
						li
							input(type="password", placeholder="密码").normal
						li
							input(type="checkbox", name="rememeber")
							.info-name(style="width:48px") 记住我
						li
							#login
								a(href="../userpage/index.html")
									img(src="../img/arrow.png")
						li
							#forget-password 忘记密码
						.clear
				#toggle-forget-password-box.hidden
					.tri-pointer-grey
						img(src="../img/tri-pointer-grey.png")
					.toggle-box-content
						p.description-card 告诉我们你的手机号码，密码会以短信形式发到你的手机上。
						.forget-password-box
							ul.box-content
								li
									.info-name 手机号码
									input(type="text", placeholder="手机号码").normal
									#password-phone-num-check-no.info-check 还没有注册过呢
									.clear
							button#find-password 重置密码
						.clear
				.slogan-box(style="margin-top:20px")
					h3 或者
				.signup-box
					button#signup 现在加入
					.clear
				#toggle-signup-box.hidden
					.tri-pointer-grey
						img(src="../img/tri-pointer-grey.png")
					.toggle-box-content
						#signup-step1
							h2
								| Step 1/3
								span 查询手机号码
							.phone-check-box
								ul.box-content
									p.description-card 若你的手机号码曾参与过由我们提供服务的某个活动（如接收短信讨论或签到等），那么使用这个号码注册，能够保留你已有的活动和社团信息。
									li
										.info-name 手机号码
										input(type="text", name="phone-num").normal
										#phone-num-check-yes.info-check 有社团和活动参与信息哦，快注册吧
										#phone-num-check-no.info-check.hidden 尚未参加任何活动和社团哦
										.clear
									li
										.info-name 验证码
										input(type="text", name="phone-validate-num").validator-short
										a#phone-validate.plain-button 获取验证码
										.clear
								button#next-to-2 下一步
								.clear
						#signup-step2.hidden
							h2
								| Step 2/3
								span 填写信息
							.info-box
								ul.box-content
									p.description-card 填写真实的信息，你会遇见更多可能感兴趣的人。
									li
										.info-name 真实姓名
										input(type="text")#real-name.normal.popup-tips
										#real-name-tips.info-tips.hidden 只有与你同社团的人才会看到
										.clear
									li
										.info-name 性别
										input(type="radio", name="sex", value="male", checked)#sex-male.short
										.radio-name 男
										input(type="radio", name="sex", value="female")#sex-female.short
										.radio-name 女
										.clear
									li
										.info-name 昵称
										input(type="text", name="nick-name")#nick-name.normal.popup-tips.popup-check
										#nick-name-tips.info-tips.hidden 2-14字符，字母、汉字、数字及下划线可用
										.clear
									li
										.info-name 生日
										input(type="text", name="birthday", placeholder="yyyy-mm-dd")#birthday.normal.popup-check
										.clear
									li
										.info-name 城市
										select#location-province.short
											option 北京市
										select#location-city.short
											option 北京市
										.clear
								ul.box-content
									p.description-card 还要填院系信息哦。啥？想填GPA？……(╯‵□′)╯︵┻━┻
									li
										.info-name 年级
										select#admission-year.short
											option 2009
											option 2010
										select#education.short
											option 本科
											option 硕士
											option 博士
										.clear
									li
										.info-name 院系
										select(style="width:180px")#department.normal
											option 数学科学学院
											option 新闻与传播学院
										.clear
									li
										.info-name 学号
										input(type="text", name="school-id")#school-id.normal.popup-tips
										#school-id-tips.info-tips.hidden 只有你所参加社团的管理员才会看到
										.clear
									li
										input(type="checkbox", name="non-school")#non-school
										.info-name(style="width:38px") 校外
										input(type="text", name="non-school-info")#non-school-info.long
										.clear
								button#back-to-1 上一步
								button#next-to-3 下一步
								.clear
						#signup-step3.hidden
							h2
								| Step 3/3
								span 验证邮箱
							.email-check-box
								ul.box-content
									p.description-card 验证你的邮箱，以使用找回密码、邮件订阅消息等功能。
									li
										.info-name 邮箱
										input(type="text", name="email").normal
										#email-check-yes.info-check 可以使用：）
										#email-check-no.info-check.hidden 使用过了，换一个吧！
										.clear
								button#back-to-2 上一步
								button#submit 验证邮箱
								.clear
				.clear

		include footer