doctype html

html

	head
		meta(charset='utf-8')

		title 社团管理平台 | 为学生和社团提供一站式服务

		meta(name='description', content='')
		meta(name='viewport', content='width=device-width')

		link(rel='stylesheet', href='../css/mobile-layout.css')

	body

		header
			#top-bar
				| 社团管理平台
				span @PKU

		#body-container
			#forget-password-info
				h2 忘记密码
			#forget-password-box
				p.description 短信重置密码
				ul
					li
						input(type="text", name="phone-num", placeholder="手机号码")#phone-numd
				button#forget-password 重置密码
