doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]

	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

		title 社团管理平台 | 为学生和社团提供一站式服务

		meta(name='description', content='')
		meta(name='viewport', content='width=device-width')

		link(rel='stylesheet', href='../css/layout.css')
		link(rel='stylesheet', href='../lib/animate.min.css')
		script(src="../lib/jquery-1.10.2.min.js")
		script(src='../script/layout.js')

	body
		//if lt IE 7
			p.chromeframe.
			You are using an outdated browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> or
			<a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
			to improve your experience.

		include header
 
		#body-container
			.main-content-full
				#main-content-message
					#message-detail.column-3-2.column-span
						h1.inline 讨论#1024
						.tiny-description-bar 10人参与
						.hr
						.message-detail-box.box-content
							ul.detail-list
								li
									.detail-list-name 讨论主题
									.detail-list-content-full 周末PS讲座
								li
									.detail-list-name 发起时间
									.detail-list-content 2014年1月13日 12:01
								li
									.detail-list-name 发起社团
									.detail-list-content
										a(href="../club/club-id001.html") 计算机应用设计协会
								li
									.detail-list-name 详细内容
									.detail-list-content-full
										p 这是一段简介。
										p 北京大学计算机应用设计协会成立于2008年，以信息科学技术学院的学术资源为依托，致力于为全校学生构建一个参与各类计算机应用设计活动的平台。
										p 2011年暑假，协会成立了一支技术过硬的移动互联网产品开发团队，短短两年，就自主设计、开发了包括“颐和园路5号”、“好好学习十八大”、“燕园地图”等在内的9款移动应用，覆盖Android、iOS、Windows Phone三大主流移动平台，现有代码近10万行，累计编辑代码30万余行。
										p 协会的五个技术学习小组每周活动一次，拥有协会专用服务器、开发者账号、正版软件、学习资料等开发资源，为对计算机应用设计感兴趣的同学提供了交流、学习、实践的平台，使得计算机应用设计在校园中得到普及，从而促进北京大学计算机应用设计文化的发展。
								li
									.detail-list-name 图片
									.detail-list-content
										a(href="../img/club-id001/club-id001-cover1.jpg", target="_blank") http://hi.hn/asdfg
							.clear
						#activity-comment
							#activity-comment-anchor
							h2.inline(style="margin-top:20px") 讨论区
							.hr
							.activity-detail-comment-box.box-content
								#new-comment
									.user-avatar
										img(src="../img/club-id001/club-id001-logo.jpg")
									.comment-detail
										textarea
										button 发布评论
									.clear
									.hr
								#activity-comment-list
									ul.comment-list
										li
											.user-avatar
												img(src="../img/club-id001/club-id001-logo.jpg")
											.comment-detail
												.comment-author kyzamiz
												.comment-time 2013-04-02 15:16
												.reply-button
													a(href="#") 回复
												.clear
												.comment-content 不知道这里最多可以输入多少个字？测试用而已管理员看到了嫌烦可以给我删了……不知道这里最多可以输入多少个字？测试用而已管理员看到了嫌烦可以给我删了……不知道这里最
											.clear
											.hr
										li
											.user-avatar
												img(src="../img/club-avatar-default.png")
											.comment-detail
												.comment-author kyzamiz
												.comment-time 2013-04-02 15:16
												.reply-button
													a(href="#") 回复
												.clear
												.comment-content 不知道这里最多可以输入多少个字？测试用而已管理员看到了嫌烦可以给我删了……不知道这里最多可以输入多少个字？测试用而已管理员看到了嫌烦可以给我删了……不知道这里最
											.clear
											.hr
										li
											.user-avatar
												img(src="../img/club-avatar-default.png")
											.comment-detail
												.comment-author kyzamiz
												.comment-time 2013-04-02 15:16
												.reply-button
													a(href="#") 回复
												.clear
												.comment-content 不知道这里最多可以输入多少个字？测试用而已管理员看到了嫌烦可以给我删了……不知道这里最多可以输入多少个字？测试用而已管理员看到了嫌烦可以给我删了……不知道这里最
											.clear
											.hr
										li
											.user-avatar
												img(src="../img/club-avatar-default.png")
											.comment-detail
												.comment-author kyzamiz
												.comment-time 2013-04-02 15:16
												.reply-button
													a(href="#") 回复
												.clear
												.comment-content 不知道这里最多可以输入多少个字？测试用而已管理员看到了嫌烦可以给我删了……不知道这里最多可以输入多少个字？测试用而已管理员看到了嫌烦可以给我删了……不知道这里最
											.clear
											.hr
										li
											.user-avatar
												img(src="../img/club-avatar-default.png")
											.comment-detail
												.comment-author kyzamiz
												.comment-time 2013-04-02 15:16
												.reply-button
													a(href="#") 回复
												.clear
												.comment-content 不知道这里最多可以输入多少个字？测试用而已管理员看到了嫌烦可以给我删了……不知道这里最多可以输入多少个字？测试用而已管理员看到了嫌烦可以给我删了……不知道这里最
											.clear
											.hr
									.page-bar
										a(href="#") 1
										a(href="#") 2
										a(href="#") 3
										span ...
										a(href="#") 10
										span /
										a(href="#") 显示全部
									.clear
					.clear
			.clear

		include footer