doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]

	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

		title 社团管理平台 | 为学生和社团提供一站式服务

		meta(name='description', content='')
		meta(name='viewport', content='width=device-width')

		link(rel='stylesheet', href='../css/layout.css')
		link(rel='stylesheet', href='../lib/animate.min.css')
		script(src="../lib/jquery-1.10.2.min.js")
		script(src='../script/layout.js')

	body
		//if lt IE 7
			p.chromeframe.
			You are using an outdated browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> or
			<a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
			to improve your experience.

		include header

		#body-container
			#sidebar
				ul#side-menu
					li 社团信息
						ul.side-menu-button
							li
								a(href="admin-edit-info.html") 编辑信息
					li 成员管理
						ul.side-menu-button
							li
								a(href="admin-user-list-apply.html") 入会审核
							li
								a(href="admin-user-list-all.html") 全部成员
							li
								a(href="admin-user-list-admin.html") 管理员
							li
								a(href="admin-user-list-excel.html") Excel导入
							li.popup-custom
								a.popup-custom-button(href="admin-user-list-custom.html") 自定义分组
								#popup-user-list-custom.hidden
									.tri-pointer
										img(src="../img/tri-pointer.png")
									ul
										li
											a(href="admin-user-list-custom-group01.html") 分组一
										li
											a(href="#") 分组二
										li
											a(href="#") 分组三
										li
											a(href="#") 分组四
					li 活动管理
						ul.side-menu-button
							li
								a(href="admin-create-activity.html") 发起活动
							li
								a(href="admin-activity-list.html") 已有活动
					li 发起讨论
						ul.side-menu-button
							li
								a(href="admin-create-message.html") 群发讨论
							li
								a.current(href="admin-message-list.html") 历史记录
			.main-content
				#main-content-admin-message-id1024-detail
					#admin-admin-message-id1024-detail.column-1-1
						h2.inline 历史记录 > 讨论#1024 > 详细信息
						.tiny-description-bar 共200个讨论
						.tiny-menu-bar
							a(href="#") 搜索
						.hr
						.admin-message-id1024-detail-box
							.box-content.overflow-scroll
								table
									thead
										tr
											th#select.w30
											th#message-id.w60 编号
											th#message-time.160w 发起时间
											th#message-content.w220 内容预览
											th#message-count.w60 收信人
											th#message-status.w60 状态
											th#manage.m200 管理操作
									tbody
										tr
											td
												input(type="checkbox")
											td 1024
											td 2014-01-13 12:01
											td 今天中午大象请客吃饭。
											td 张楠
											td 已送达
											td
												a(href="#") 重发
												a(href="#") 追加消息
												a(href="#") 转发消息
										tr
											td
												input(type="checkbox")
											td 1024
											td 2014-01-13 12:01
											td 今天中午大象请客吃饭。
											td 王仲禹
											td 已送达
											td
												a(href="#") 重发
												a(href="#") 追加消息
												a(href="#") 转发消息
										tr
											td
												input(type="checkbox")
											td 1024
											td 2014-01-13 12:01
											td 今天中午大象请客吃饭。
											td 向毅明
											td 已送达
											td
												a(href="#") 重发
												a(href="#") 追加消息
												a(href="#") 转发消息
										tr
											td
												input(type="checkbox")
											td 1024
											td 2014-01-13 12:01
											td 今天中午大象请客吃饭。
											td 吴春华
											td 失败
											td
												a(href="#") 重发
												a(href="#") 追加消息
												a(href="#") 转发消息
										tr
											td
												input(type="checkbox")
											td 1024
											td 2014-01-13 12:01
											td 今天中午大象请客吃饭。
											td 张天然
											td 失败
											td
												a(href="#") 重发
												a(href="#") 追加消息
												a(href="#") 转发消息
										tr
											td
												input(type="checkbox")
											td 1024
											td 2014-01-13 12:01
											td 今天中午大象请客吃饭。
											td 张楠
											td 已送达
											td
												a(href="#") 重发
												a(href="#") 追加消息
												a(href="#") 转发消息
										tr
											td
												input(type="checkbox")
											td 1024
											td 2014-01-13 12:01
											td 今天中午大象请客吃饭。
											td 王仲禹
											td 已送达
											td
												a(href="#") 重发
												a(href="#") 追加消息
												a(href="#") 转发消息
										tr
											td
												input(type="checkbox")
											td 1024
											td 2014-01-13 12:01
											td 今天中午大象请客吃饭。
											td 向毅明
											td 已送达
											td
												a(href="#") 重发
												a(href="#") 追加消息
												a(href="#") 转发消息
										tr
											td
												input(type="checkbox")
											td 1024
											td 2014-01-13 12:01
											td 今天中午大象请客吃饭。
											td 吴春华
											td 失败
											td
												a(href="#") 重发
												a(href="#") 追加消息
												a(href="#") 转发消息
										tr
											td
												input(type="checkbox")
											td 1024
											td 2014-01-13 12:01
											td 今天中午大象请客吃饭。
											td 张天然
											td 失败
											td
												a(href="#") 重发
												a(href="#") 追加消息
												a(href="#") 转发消息
							.batch-menu-bar
								a(href="#") 全部选中
								a(href="#") 批量重发
								a(href="#") 批量追加消息
							.page-bar
								a(href="#") 1
								a(href="#") 2
								a(href="#") 3
								span ...
								a(href="#") 10
								span /
								a(href="#") 显示全部
							.clear
					.clear
			.clear

		include footer