doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]

	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

		title 社团管理平台 | 为学生和社团提供一站式服务

		meta(name='description', content='')
		meta(name='viewport', content='width=device-width')

		link(rel='stylesheet', href='../css/layout.css')
		link(rel='stylesheet', href='../lib/animate.min.css')
		script(src="../lib/jquery-1.10.2.min.js")
		script(src='../script/layout.js')

	body
		//if lt IE 7
			p.chromeframe.
			You are using an outdated browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> or
			<a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
			to improve your experience.

		include header

		#body-container
			#sidebar
				ul#side-menu
					li 个人信息
						ul.side-menu-button
							li
								a(href="user-edit-info.html") 编辑信息
					li 社团管理
						ul.side-menu-button
							li
								a(href="user-club-list.html") 已加入社团
					li 活动管理
						ul.side-menu-button
							li
								a.current(href="user-activity-list.html") 已参加活动
					li 参与讨论
						ul.side-menu-button
							li
								a(href="user-message-list.html") 接收记录
			.main-content
				#main-content-user-activity-list
					#activity-list.column-1-1
						h2.inline 已参加活动
						.tiny-description-bar 共20个活动
						.hr
						.user-activity-box
							.box-content.overflow-scroll
								table
									thead
										tr
											th#select.w30
											th#activity-id.w60 活动编号
											th#message-shortcut.w60 短信代码
											th#activity-name.w220 活动名称
											th#activity-host.w140 活动主办方
											th#status.w60 状态
											th#manage.m200 管理操作
									tbody
										tr
											td
												input(type="checkbox")
											td 001
											td psjz
											td 周末PS讲座
											td 计算机应用设计协会
											td 已签到
											td
												a(href="../activity/activity-id001.html", target="_blank") 详细信息
												a(href="../activity/activity-id001.html#activity-comment-anchor", target="_blank") 活动讨论区
												a.popup-stage-exit-activity 退出活动
										tr
											td
												input(type="checkbox")
											td 002
											td bdnl
											td CUBA北大男篮
											td 篮球协会
											td 报名成功
											td
												a(href="../activity/activity-id001.html", target="_blank") 详细信息
												a(href="../activity/activity-id001.html#activity-comment-anchor", target="_blank") 活动讨论区
												a.popup-stage-exit-activity 退出活动
										tr.font-color-grey
											td
												input(type="checkbox")
											td 003
											td bdst
											td 《北大社团》招募中
											td 学生团体部
											td 报名失败
											td
												a(href="../activity/activity-id001.html", target="_blank") 详细信息
												a(href="../activity/activity-id001.html#activity-comment-anchor", target="_blank") 活动讨论区
												a.popup-stage-exit-activity 退出活动
										tr
											td
												input(type="checkbox")
											td 004
											td zojl
											td “网络语言与青年文化”中欧学生交流研讨会
											td 中欧交流协会
											td 待审核
											td
												a(href="../activity/activity-id001.html", target="_blank") 详细信息
												a(href="../activity/activity-id001.html#activity-comment-anchor", target="_blank") 活动讨论区
												a.popup-stage-exit-activity 退出活动
										tr
											td
												input(type="checkbox")
											td 005
											td yhsq
											td 元火动漫社15周年社庆
											td 元火动漫社
											td 待审核
											td
												a(href="../activity/activity-id001.html", target="_blank") 详细信息
												a(href="../activity/activity-id001.html#activity-comment-anchor", target="_blank") 活动讨论区
												a.popup-stage-exit-activity 退出活动
										tr
											td
												input(type="checkbox")
											td 001
											td psjz
											td 周末PS讲座
											td 计算机应用设计协会
											td 已签到
											td
												a(href="../activity/activity-id001.html", target="_blank") 详细信息
												a(href="../activity/activity-id001.html#activity-comment-anchor", target="_blank") 活动讨论区
												a.popup-stage-exit-activity 退出活动
										tr
											td
												input(type="checkbox")
											td 002
											td bdnl
											td CUBA北大男篮
											td 篮球协会
											td 报名成功
											td
												a(href="../activity/activity-id001.html", target="_blank") 详细信息
												a(href="../activity/activity-id001.html#activity-comment-anchor", target="_blank") 活动讨论区
												a.popup-stage-exit-activity 退出活动
										tr.font-color-grey
											td
												input(type="checkbox")
											td 003
											td bdst
											td 《北大社团》招募中
											td 学生团体部
											td 报名失败
											td
												a(href="../activity/activity-id001.html", target="_blank") 详细信息
												a(href="../activity/activity-id001.html#activity-comment-anchor", target="_blank") 活动讨论区
												a.popup-stage-exit-activity 退出活动
										tr
											td
												input(type="checkbox")
											td 004
											td zojl
											td “网络语言与青年文化”中欧学生交流研讨会
											td 中欧交流协会
											td 待审核
											td
												a(href="../activity/activity-id001.html", target="_blank") 详细信息
												a(href="../activity/activity-id001.html#activity-comment-anchor", target="_blank") 活动讨论区
												a.popup-stage-exit-activity 退出活动
										tr
											td
												input(type="checkbox")
											td 005
											td yhsq
											td 元火动漫社15周年社庆
											td 元火动漫社
											td 待审核
											td
												a(href="../activity/activity-id001.html", target="_blank") 详细信息
												a(href="../activity/activity-id001.html#activity-comment-anchor", target="_blank") 活动讨论区
												a.popup-stage-exit-activity 退出活动
							.batch-menu-bar
								a 全部选中
								a.popup-stage-exit-activity 批量退出
							.page-bar
								a.current-page 1
								a 2
								a 3
								span ...
								a 10
								span /
								a 显示全部
							.clear
					.clear
			.clear

			#popup-stage-exit-activity.popup-stage.hidden
				#exit-activity-box.popup-stage-box.xsmall
					.box-content
						.description-content
							| 确定退出活动吗？
							span 退出后需重新申请参加
						.button-box
							button#submit-exit-activity 确定退出
							button.cancel-stage 取消
						.clear

		include footer