doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]

	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

		title 社团管理平台 | 为学生和社团提供一站式服务

		meta(name='description', content='')
		meta(name='viewport', content='width=device-width')

		link(rel='stylesheet', href='../css/layout.css')
		link(rel='stylesheet', href='../lib/animate.min.css')
		script(src="../lib/jquery-1.10.2.min.js")
		script(src='../script/layout.js')

	body
		//if lt IE 7
			p.chromeframe.
			You are using an outdated browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> or
			<a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
			to improve your experience.

		include header

		#body-container
			#sidebar
				ul#side-menu
					li 个人信息
						ul.side-menu-button
							li
								a(href="user-edit-info.html") 编辑信息
					li 社团管理
						ul.side-menu-button
							li
								a.current(href="user-club-list.html") 已加入社团
					li 活动管理
						ul.side-menu-button
							li
								a(href="user-activity-list.html") 已参加活动
					li 参与讨论
						ul.side-menu-button
							li
								a(href="user-message-list.html") 接收记录
			.main-content
				#main-content-user-club-list
					#club-list.column-1-1
						h2.inline 已加入社团
						.tiny-description-bar 共5个社团
						.tiny-menu-bar
							a#search 搜索
						.hr
						.user-club-list-box
							.box-content.overflow-scroll
								table
									thead
										tr
											th#select.w30
											th#club-id.w60 社团编号
											th#club-shortcut.w60 短信代码
											th#club-name.w220 社团名称
											th#club-user-count.w60 成员数
											th#user-apply-time.w100 加入时间
											th#manage.m200 管理操作
									tbody
										tr
											td
												input(type="checkbox")
											td 001
											td cada
											td 计算机应用设计协会
											td 100人
											td 2014-02-22
											td
												a(href="../club/club-id001.html", target="_blank") 详细信息
												a(href="club-id001-contact.html") 通讯录
												a.popup-stage-exit-club 退出社团
										tr
											td
												input(type="checkbox")
											td 001
											td cada
											td 计算机应用设计协会
											td 100人
											td 2014-02-22
											td
												a(href="../club/club-id001.html", target="_blank") 详细信息
												a(href="club-id001-contact.html") 通讯录
												a.popup-stage-exit-club 退出社团
										tr.font-color-grey
											td
												input(type="checkbox")
											td 001
											td cada
											td 计算机应用设计协会
											td 100人
											td 2014-02-22
											td
												a(href="../club/club-id001.html", target="_blank") 详细信息
												a(href="club-id001-contact.html") 通讯录
												a.popup-stage-exit-club 退出社团
										tr
											td
												input(type="checkbox")
											td 001
											td cada
											td 计算机应用设计协会
											td 100人
											td 2014-02-22
											td
												a(href="../club/club-id001.html", target="_blank") 详细信息
												a(href="club-id001-contact.html") 通讯录
												a.popup-stage-exit-club 退出社团
										tr
											td
												input(type="checkbox")
											td 001
											td cada
											td 计算机应用设计协会
											td 100人
											td 2014-02-22
											td
												a(href="../club/club-id001.html", target="_blank") 详细信息
												a(href="club-id001-contact.html") 通讯录
												a.popup-stage-exit-club 退出社团
										tr
											td
												input(type="checkbox")
											td 001
											td cada
											td 计算机应用设计协会
											td 100人
											td 2014-02-22
											td
												a(href="../club/club-id001.html", target="_blank") 详细信息
												a(href="club-id001-contact.html") 通讯录
												a.popup-stage-exit-club 退出社团
										tr
											td
												input(type="checkbox")
											td 001
											td cada
											td 计算机应用设计协会
											td 100人
											td 2014-02-22
											td
												a(href="../club/club-id001.html", target="_blank") 详细信息
												a(href="club-id001-contact.html") 通讯录
												a.popup-stage-exit-club 退出社团
										tr
											td
												input(type="checkbox")
											td 001
											td cada
											td 计算机应用设计协会
											td 100人
											td 2014-02-22
											td
												a(href="../club/club-id001.html", target="_blank") 详细信息
												a(href="club-id001-contact.html") 通讯录
												a.popup-stage-exit-club 退出社团
										tr
											td
												input(type="checkbox")
											td 001
											td cada
											td 计算机应用设计协会
											td 100人
											td 2014-02-22
											td
												a(href="../club/club-id001.html", target="_blank") 详细信息
												a(href="club-id001-contact.html") 通讯录
												a.popup-stage-exit-club 退出社团
										tr
											td
												input(type="checkbox")
											td 001
											td cada
											td 计算机应用设计协会
											td 100人
											td 2014-02-22
											td
												a(href="../club/club-id001.html", target="_blank") 详细信息
												a(href="club-id001-contact.html") 通讯录
												a.popup-stage-exit-club 退出社团
							.batch-menu-bar
								a 全部选中
								a.popup-stage-delete-club 批量退出社团
							.page-bar
								a.current-page 1
								a 2
								a 3
								span ...
								a 10
								span /
								a 显示全部
							.clear
					.clear
			.clear

		#popup-stage-exit-club.popup-stage.hidden
			#exit-club-box.popup-stage-box.xsmall
				.box-content
					.description-content
						| 确定退出社团吗？
						span 退出后需重新申请入会
					.button-box
						button#submit-exit-club 确定退出
						button.cancel-stage 取消
					.clear

		#popup-stage-search.popup-stage.hidden
			#search-box.popup-stage-box.small
				.box-content
					.info-name 关键词
					input(type="text", name="keyword")
					button#submit-search 搜索
					button.cancel-stage 取消
					.clear

		include footer