doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]

	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

		title 社团管理平台 | 为学生和社团提供一站式服务

		meta(name='description', content='')
		meta(name='viewport', content='width=device-width')

		link(rel='stylesheet', href='../css/layout.css')
		link(rel='stylesheet', href='../lib/animate.min.css')
		script(src="../lib/jquery-1.10.2.min.js")
		script(src='../script/layout.js')

	body
		//if lt IE 7
			p.chromeframe.
			You are using an outdated browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> or
			<a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
			to improve your experience.

		include header

		#body-container
			#sidebar
					ul#side-menu
						li 个人信息
							ul.side-menu-button
								li
									a(href="user-edit-info.html") 编辑信息
						li 社团管理
							ul.side-menu-button
								li
									a(href="user-club-list.html") 已加入社团
						li 活动管理
							ul.side-menu-button
								li
									a(href="user-activity-list.html") 已参加活动
						li 参与讨论
							ul.side-menu-button
								li
									a.current(href="user-message-list.html") 接收记录
			.main-content
				#main-content-user-message-list
					#message-list.column-1-1
						h2.inline 接收记录
						.tiny-description-bar 共32个讨论
						.hr
						.user-message-box
							.box-content.overflow-scroll
								table
									thead
										tr
											//- th#select.w30
											th#message-id.w60 编号
											th#message-time.160w 接收时间
											th#message-content.w220 内容预览
											th#message-sender.w140 发起社团
											th#manage.m200 管理操作
									tbody
										tr
											//- td
											//- 	input(type="checkbox")
											td 1024
											td 2014-01-13 12:01
											td 今天中午大象请客吃饭。
											td 计算机应用设计协会
											td
												a(href="#") 详细信息
												a(href="#") 进入讨论区
										tr
											//- td
											//- 	input(type="checkbox")
											td 1023
											td 2014-01-12 12:01
											td 明天中午大象请客吃饭。
											td 计算机应用设计协会
											td
												a(href="#") 详细信息
												a(href="#") 进入讨论区
										tr
											//- td
											//- 	input(type="checkbox")
											td 1022
											td 2014-01-11 12:01
											td 后天中午大象请客吃饭。别忘了。
											td 计算机应用设计协会
											td
												a(href="#") 详细信息
												a(href="#") 进入讨论区
										tr
											//- td
											//- 	input(type="checkbox")
											td 1021
											td 2014-01-10 12:01
											td 一白遮百丑，一胖毁所有。
											td 计算机应用设计协会
											td
												a(href="#") 详细信息
												a(href="#") 进入讨论区
										tr
											//- td
											//- 	input(type="checkbox")
											td 1020
											td 2014-01-10 10:01
											td 不能再吃了！
											td 计算机应用设计协会
											td
												a(href="#") 详细信息
												a(href="#") 进入讨论区
										tr
											//- //- td
											//- 	input(type="checkbox")
											td 1024
											td 2014-01-13 12:01
											td 今天中午大象请客吃饭。
											td 计算机应用设计协会
											td
												a(href="#") 详细信息
												a(href="#") 进入讨论区
										tr
											//- td
											//- 	input(type="checkbox")
											td 1023
											td 2014-01-12 12:01
											td 明天中午大象请客吃饭。
											td 计算机应用设计协会
											td
												a(href="#") 详细信息
												a(href="#") 进入讨论区
										tr
											//- td
											//- 	input(type="checkbox")
											td 1022
											td 2014-01-11 12:01
											td 后天中午大象请客吃饭。别忘了。
											td 计算机应用设计协会
											td
												a(href="#") 详细信息
												a(href="#") 进入讨论区
										tr
											//- td
											//- 	input(type="checkbox")
											td 1021
											td 2014-01-10 12:01
											td 一白遮百丑，一胖毁所有。
											td 计算机应用设计协会
											td
												a(href="#") 详细信息
												a(href="#") 进入讨论区
										tr
											//- td
											//- 	input(type="checkbox")
											td 1020
											td 2014-01-10 10:01
											td 不能再吃了！
											td 计算机应用设计协会
											td
												a(href="#") 详细信息
												a(href="#") 进入讨论区
							.page-bar
								a(href="#") 1
								a(href="#") 2
								a(href="#") 3
								span ...
								a(href="#") 10
								span /
								a(href="#") 显示全部
					.clear
			.clear

		include footer