header
	#top-bar
		#top-bar-content-container
			#top-logo
				img(src="../img/top-logo.png")
			#top-logo-text 社团管理平台
			ul#top-nav.top-nav-club
				li
					a#club.current(href="club-list.html") 社团
				li
					a#activity(href="../activity/activity-list.html") 活动
				li
					a#user(href="../userpage/index.html") 我的参与
				li
					a(href="#",target="_blank") 在线借教室
			#top-user-menu.top-user-menu-club
				#username kyzamizzzzzzzz
				ul#popup-user-menu.hidden
					li
						a.menu-logout(href="#") 登出
					li
						a.menu-background(href="../admin/index.html") 管理后台
					li
						a.menu-setting(href="../userpage/user-edit-info.html") 设置
	#top-line