header
	#top-bar
		#top-bar-content-container
			a#top-logo-box(href="../welcome/welcome.html")
				#top-logo
					img(src="../img/top-logo.png")
				#top-logo-text
					//- | 社团管理平台
					img(src="../img/logo-text.png")
			#top-admin-name
				a 超级管理员后台
			#top-user-menu
				#username
					| kyzamizzzzzzzz
					span#new-message N2
				ul#popup-user-menu.hidden
					li
						a.menu-logout(href="../welcome/welcome.html") 登出
					li
						a.menu-background(href="../userpage/index.html") 返回个人
					li
						a.menu-setting(href="../userpage/user-edit-info.html") 设置
	#top-line