doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]

	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

		title 社团管理平台 | 为学生和社团提供一站式服务

		meta(name='description', content='')
		meta(name='viewport', content='width=device-width')

		link(rel='stylesheet', href='../css/layout.css')
		link(rel='stylesheet', href='../lib/animate.min.css')
		script(src="../lib/jquery-1.10.2.min.js")
		script(src='../script/layout.js')

	body
		//if lt IE 7
			p.chromeframe.
			You are using an outdated browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> or
			<a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
			to improve your experience.

		include header
 
		#body-container
			.main-content-full
				#main-content-activity-list
					#activity-list
						h1.inline 开展的活动
						.tiny-description-bar 25个活动 / 1个正在进行
						.tiny-menu-bar
							a(href="#") 申请活动
						.hr
						.activity-list-box
							ul.box-content(style="margin-top:38px")
								li
									a(href="activity-id1024.html")
										.activity-avatar-large
											img.activity-avatar-large-img(src="../img/club-id001/club-id001-cover1.jpg")
										.activity-list-name CUBA北大男篮
								li
									a(href="#")
										.activity-avatar-large
											img.activity-avatar-large-img(src="../img/club-avatar-default.png")
										.activity-list-name 《北大社团》招募中
								li
									a(href="#")
										.activity-avatar-large
											img.activity-avatar-large-img(src="../img/club-avatar-default.png")
										.activity-list-name “网络语言与青年文化”中欧学生...
								li
									a(href="#")
										.activity-avatar-large
											img.activity-avatar-large-img(src="../img/club-avatar-default.png")
										.activity-list-name 元火动漫社15周年社庆
								li
									a(href="#")
										.activity-avatar-large
											img.activity-avatar-large-img(src="../img/club-avatar-default.png")
										.activity-list-name 北京大学2013“三国杀”大赛
								li
									a(href="#")
										.activity-avatar-large
											img.activity-avatar-large-img(src="../img/club-avatar-default.png")
										.activity-list-name 北京大学第二届壁球比赛“卡拉卡...
								li
									a(href="#")
										.activity-avatar-large
											img.activity-avatar-large-img(src="../img/club-avatar-default.png")
										.activity-list-name 时光邮局
								li
									a(href="#")
										.activity-avatar-large
											img.activity-avatar-large-img(src="../img/club-avatar-default.png")
										.activity-list-name 陈兵导演作品《野草莓》首映
								li
									a(href="#")
										.activity-avatar-large
											img.activity-avatar-large-img(src="../img/club-avatar-default.png")
										.activity-list-name “情人节”之情侣定向
								li
									a(href="#")
										.activity-avatar-large
											img.activity-avatar-large-img(src="../img/club-avatar-default.png")
										.activity-list-name “群雄问鼎，侠者未名”武侠主题...
								li
									a(href="#")
										.activity-avatar-large
											img.activity-avatar-large-img(src="../img/club-avatar-default.png")
										.activity-list-name “情人节”之情侣定向
								li
									a(href="#")
										.activity-avatar-large
											img.activity-avatar-large-img(src="../img/club-avatar-default.png")
										.activity-list-name “群雄问鼎，侠者未名”武侠主题...
								.clear
							.page-bar
								a(href="#") 1
								a(href="#") 2
								a(href="#") 3
								span ...
								a(href="#") 10
								span /
								a(href="#") 显示全部
					.clear
			.clear

		include footer